{
  "extends":"standard",
  "useEslint":false,
  "rules": {
    "no-undef": 0,
    "semi": 0,
    "indent": ["off", 2],
    
    "spaced-comment": [2, "always", {"exceptions": ["-"], "markers": ["/", "/-"]}], 
    "brace-style": [2, "stroustrup", { "allowSingleLine": true }],
    "space-before-function-paren": 0
  }
}
